{% extends "base_site.html" %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}

  {% include "site_template/navigation.html" %}

  {% include "site_template/top-stats.html" %}

  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-8 mb-5 mb-xl-0">
        <div class="card bg-gradient-default shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
                <h2 class="text-white mb-0">Carbon Produced</h2>
              </div>
              <div class="col">
                <ul class="nav nav-pills justify-content-end">
                    <!-- data-update='{"data":{"datasets":[{"data":[0.74, 0.86, 0.70, 1.03, 1.28, 1.17]}]}}'  -->
                    <!-- data-suffix=" Tons of CO²" -->
                  <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales" data-prefix="" data-suffix="">
                    <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab" id="sales_tab">
                      <span class="d-none d-md-block">Week</span>
                      <span class="d-md-none">W</span>
                    </a>
                  </li>
                  <!-- {"data":{"datasets":[{"data":[0.74, 0.86, 0.70, 1.03, 1.28, 1.17}]}} -->
                  <!-- data-update='{"data":{"datasets":[{"data":[0.74, 0.86, 0.70, 1.03, 1.28, 1.17, 1.00, 0.56, 1.04 , 0.90]}]}}' -->
                  <li class="nav-item" data-toggle="chart" data-target="#chart-forecast"  id="forecast">
                    <a href="#" class="nav-link py-2 px-3" data-toggle="tab" id="forecast_tab" input type="forecast" name="forecast_name" >
                        <!-- TODO: Add forcast data wihout chart losing y Axis  -->
                      <span class="d-none d-md-block">Forecast</span>
                      <span class="d-md-none">F</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!-- Chart -->
            <div class="chart">
              <!-- Chart wrapper -->
              <!-- <canvas id="carbon-chart" class="chart-canvas"></canvas> -->
              <canvas id="chart-sales" class="chart-canvas"></canvas>
              <canvas id="chart-forecast" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                <h2 class="mb-0">Miles Traveled</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!-- Chart -->
            <div class="chart">
              <canvas id="chart-orders" class="chart-canvas" ></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5 row justify-content-center">
      <div class="col-xl-9 mb-5 mb-xl-0">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Carbon Offset Programmes</h3>
              </div>
              <div class="col text-right">
                <a href="#!" class="btn btn-sm btn-primary">See all</a>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Page name</th>
                  <th scope="col">Cost</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">
                    Sidrap Wind Farm Project, Indonesia
                  </th>
                  <td>
                    $10.00 USD / TONNE
                  </td>
                  <td>
                    <a href="#!" class="btn btn-sm btn-primary">Buy Offsets</a>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Ethiopian Forest Regeneration Cooperative
                  </th>
                  <td>
                    $18.00 USD / TONNE
                  </td>
                  <td>
                    <a href="#!" class="btn btn-sm btn-primary">Buy Offsets</a>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Kenya Biogas Programme
                  </th>
                  <td>
                    $19.00 USD / TONNE
                  </td>
                  <td>
                    <a href="#!" class="btn btn-sm btn-primary">Buy Offsets</a>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    20 MW Solar Project in Rajasthan, India
                  </th>
                  <td>
                    $12.00 USD / TONNE
                  </td>
                  <td>
                    <a href="#!" class="btn btn-sm btn-primary">Buy Offsets</a>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Ceará Renewable Energy Bundled Project
                  </th>
                  <td>
                    $11.00 USD / TONNE
                  </td>
                  <td>
                    <a href="#!" class="btn btn-sm btn-primary">Buy Offsets</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>

    {% include "site_template/footer.html" %}

  </div>

{% endblock content %}

{% block javascripts %}
  {{ super()}}
{% endblock javascripts %}
